div {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  width: 50%;
}

@font-face {
  font-family: "cheltenham";
  src: url("/home/cheltenham-cond-normal-700.ttf");
}

h1 {
  font-family: "cheltenham";
}

p {
  font-size: 16px;
}
